
RewriteEngine on

RewriteCond %{HTTP_HOST} ^segcontrol\-com\-co\.portalx\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.segcontrol\-com\-co\.portalx\.net$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/portalx\.net\/segcontrol" [R=301,L]
